* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

nav {
    /* width: 100%; */
    /* background: lightgrey; */
    display: flex;
    height: 60px;
    padding: 0px 30px;
}

nav ul:nth-child(2) {
    /* background: cyan; */
    justify-content: flex-end;
}

ul {
    width: 100%;
    height: 100%;
    /* background: orangered; */
    display: flex;
    align-items: center;
    
}

li {
    /* background: blue; */
    list-style: none;
}
li a:hover {
    text-decoration: underline;
}
nav ul:nth-child(1) li{
    margin-right: 20px;
}
nav ul:nth-child(2) li {
    margin-left: 20px;
}

.material-icons {
    color: rgb(150, 150, 150);
}

#signin-btn {
    background: #4386f9;
    border: none;
    font-weight: bold;
    line-height: 30px;
    padding: 0px 12px;
    color: white;
    border-radius: 2px;
}


/* main */

main {
    text-align: center;
    margin-top: 7%;
}
.search-box {
    position: relative;
    width: 40%;
    margin: auto;
    margin-top: 20px;
}
.search-box span {
    position: absolute;
    left: 15px;
    line-height: 45px;
    font-size: 20px;
}
main #search-input {
    display: block;
    /* margin: auto; */
    border: none;
    /* margin-top: 20px; */
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0,.1);
    padding: 20px;
    padding-left: 50px;
    font-size: 15px;
    
}
main input:focus {
    border: none;
    outline: none;
    box-shadow: 0px 3px 15px -8px grey;
}
main input:hover {
    box-shadow: 0px 3px 15px -8px grey;
}

main .button-box {
    margin-top: 30px;
}
.button-box button {
    border: 1px solid white;
    color: rgb(80, 80, 80);
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 15px;
    background: rgb(241, 241, 241);
    font-weight: normal;
}
.button-box button:hover {
    border: 1px solid rgb(180, 180, 180);
    color: rgb(0, 0, 0);
    cursor: pointer;
}


/* footer */
footer {
    background: rgb(240, 240, 240);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 40px;
    padding: 0px 30px;
    border-top: 1px solid rgb(224, 224, 224);
}
footer ul {
    /* background: red; */
    line-height: 40px;
}
footer a{
    color: rgb(100, 100, 100);
}
footer ul:nth-child(1) li {
    margin-right: 30px;
}
footer ul:nth-child(2) li {
    margin-left: 30px;
}
footer ul:nth-child(2) {
    /* background: green; */
    justify-content: flex-end;
}