* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

nav {
    /* width: 100%; */
    /* background: lightgrey; */
    display: flex;
    height: 60px;
    padding: 0px 30px;
}

nav ul:nth-child(2) {
    /* background: cyan; */
    justify-content: flex-end;
}

ul {
    width: 100%;
    height: 100%;
    /* background: orangered; */
    display: flex;
    align-items: center;
    
}

li {
    /* background: blue; */
    list-style: none;
}
nav ul:nth-child(1) li{
    margin-right: 20px;
}
nav ul:nth-child(2) li {
    margin-left: 20px;
}

nav .material-icons {
    color: rgb(100, 100, 100);
}

#signin-btn {
    background: #4386f9;
    border: none;
    font-weight: bold;
    line-height: 30px;
    padding: 0px 12px;
    color: white;
    border-radius: 2px;
}